services:
  asteroids-game:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    restart: unless-stopped
    container_name: asteroids-game

volumes:
  node_modules:
