services:
  asteroids-game:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    restart: unless-stopped
    container_name: asteroids-game
    network:
      - dokploy-network

networks:
  dokploy-network:
    external: true
